---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: intranet-db
  name: intranet-db
spec:
  ports:
    - name: mysql
      protocol: TCP
      port: 3306
      targetPort: 3306
  selector:
    app: intranet-db
